body {
    display: block;
    background-color: #e5e5e5;
    color:black;
}

p, h1, h2, img, li, div {
    font-size: 30px;
    text-align: justify;
    width: 100%;
}

a {
    font-size: 30px;
}

div {
    display: inline;
}

.profile {
    max-width: 400px;
}